<!DOCTYPE html>
<html lang="en" class="h-webkit-fill inter-font scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/output.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>PROMOCIONES</title>
<body>
  <h1>Promociones disponibles</h1>
  <ul>
    <li>Promoción 1: 20% de descuento en cortes de cabello.</li>
    <li>Promoción 2: Alisado láser por $50.</li>
    <li>Promoción 3: Tratamiento de keratina + lavado gratis.</li>
    <li>Promoción 4: Compra 2 productos y lleva el 3ro gratis.</li>
    <li>Promoción 5: Descuento del 15% en servicios para estudiantes.</li>
  </ul>
</body>
</html>
